{% extends 'base.html' %}
{% block content %}
<h1>Django ModelForm tesztelése</h1>
<h3>Testing Django ModelForm</h3>

<form action = '/results/' method = "post">
	<div id="form1">{% csrf_token %}
		<table>
			{{form1.as_table}}
			<tr><th></th><td><input type="submit" name="f1" value="Tovább / Next" onclick="displayForm();"></td></tr>
		</table>
	</div>
	<div id="form2">{% csrf_token %}
		<table>
			{{form2.as_table}}
			<tr><th></th><td><input type="submit" name="f2" value="Tovább / Next" onclick="displayForm();"></td></tr>
		</table>
	</div>
	<div id="form3">{% csrf_token %}
		<table>
			{{form3.as_table}}
			<tr><th></th><td><input type="submit" name="f3" value="Eredmények / Results" onclick="displayForm();"></td></tr>
		</table>
	</div>
</form>

<script>

	function checkInput(div) {
		
		/* check empty input values */
		
		var inputs = div.getElementsByTagName("INPUT");
		var len = inputs.length;

		/* input values: not 0 & not the last! */
		
		for (var i = 1; i < len-1; i++) {
			var name = inputs[i].getAttribute("name");
			if (document.getElementsByName(name)[0].value == '')
				return -1;
		}
		return 0;
	}

	var i = 0;

	function displayForm() {

		/* div id */
		
		var div = document.getElementsByTagName("DIV")[i];
		var actlForm = div.getAttribute("id");
		
		/* next div id */
		
		var nextForm = actlForm.slice(0,-1) + String(parseInt(actlForm.substr(actlForm.length-1))+1);
		
		if (checkInput(div) != 0)
			return alert("Figyelem: űres mező! / Warning: empty field! ");
		else {
			var disapp = document.getElementById(actlForm);
			disapp.style.display = "none";

			var disapp = document.getElementById(nextForm);
			disapp.style.display = "block";
		}

		i++;
	}
</script>
{% endblock content %}
